@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Bodoni';
  src: local('Bodoni'), url(./fonts/BodoniFLF-Roman.ttf) format('truetype');
}
@font-face {
  font-family: 'Simple';
  src: local('Simple'), url(./fonts/SIMPLIFICATypeface.ttf) format('opentype');
}
@font-face {
  font-family: 'RobotoSlab';
  src: local('RobotoSlab'), url(./fonts/RobotoSlab-VariableFont_wght.ttf) format('truetype');
}
* {
  font-family: 'RobotoSlab', sans-serif;
}
.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 100px;
}
.simple {
  font-family: 'Bodoni', serif;
}
