@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Simplifica';
  src: local('Simplifica'), url(./fonts/SIMPLIFICATypeface.ttf) format('truetype');
}
@font-face {
  font-family: 'Aleo';
  src: local('Aleo'), url(./fonts/Aleo-Regular.otf) format('opentype');
}
* {
  font-family: 'Aleo', sans-serif;
}
.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 100px;
}
.simple {
  font-family: 'Simplifica', sans-serif;
}
