@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Emberly';
  src: local('Emberly'), url(./fonts/Emberly-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-Regular.ttf) format('opentype');
}
@font-face {
  font-family: 'RobotoSlab';
  src: local('RobotoSlab'), url(./fonts/RobotoSlab-VariableFont_wght.ttf) format('truetype');
}
* {
  font-family: 'RobotoSlab', sans-serif;
}
.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 100px;
}
.simple {
  font-family: 'Emberly', serif;
}
